@page "/"
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<p>hello, @user?.UserName (id = @user.UserId)</p>
		<MyGames />

		<FluentCard>
			<h2>Hello World!</h2>
			<FluentButton Appearance="@Appearance.Accent" OnClick="ClickMe">Click Me</FluentButton>
		</FluentCard>
	</Authorized>
	<NotAuthorized>
		<p>hello, stranger</p>
	</NotAuthorized>
</AuthorizeView>

<p>in other news</p>
<p>user = @user?.UserName</p>

@code {
	private ApplicationUser? user;

	protected override async Task OnInitializedAsync()
	{
		user = await CurrentUser.GetAsync();
	}

	async Task ClickMe(MouseEventArgs args)
	{
		Logger.LogInformation("clicked");
		await Task.CompletedTask;
	}
}