@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
	<Authorized>
		<p>hello, @CurrentUser?.UserId</p>
		<MyGames />
	</Authorized>
	<NotAuthorized>
		<p>hello, stranger</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter] ApplicationUser? CurrentUser { get; set; }
}