@page "/Mini1P/{InstanceKey?}"
@using Abstractions
@rendermode InteractiveServer
@inject StateManager StateManager
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Nav
@inject ILogger<Page> Logger
@inject ApplicationEventRelay Relay
@implements IDisposable

<h3>Mini1P Game</h3>
<p>user = @CurrentUser?.UserName</p>

@if (GameInstances.Any())
{
	<ul>
		@foreach (var game in GameInstances)
		{
			<li><a href="@game.Url">@game.Id - @game.Url</a></li>
		}		
	</ul>		
}

<FluentButton OnClick="NewGame" Disabled="CurrentUser is null">Start Game</FluentButton>

<GameGrid 
	TPlayer="MiniGamePlayer" TPiece="MiniGamePiece" TGameState="MiniGameState" 
	Visible="StateManager.IsLoaded" State="StateManager.State" PlayerName="@CurrentUser?.UserName">
	<ChildContent>		
		@if (StateManager.State!.TryGetPiece(context, out var piece))
		{
			<span>hello</span>
		}
	</ChildContent>
</GameGrid>

@code {
	GameInstance[] GameInstances = [];	

	[CascadingParameter] public ApplicationUser? CurrentUser { get; set; }

	[Parameter] public string? InstanceKey { get; set; }

	protected override void OnInitialized()
	{
		Relay.StateChanged += OnGameStateChanged;
	}

	protected override async Task OnParametersSetAsync()
	{
		Logger.LogDebug("Current user = {0}", CurrentUser?.UserName ?? "<unknown>");

		if (InstanceKey is null)
		{
			using var db = DbFactory.CreateDbContext();
			GameInstances = await db.MyGames(CurrentUser?.UserId ?? 0, GameType.Mini1P).ToArrayAsync();
			return;
		}

		await StateManager.LoadAsync(InstanceKey);
	}

	async Task NewGame(MouseEventArgs args)
	{
		var url = await StateManager.StartAsync(true, [(CurrentUser!.UserName!, true)]);
		Nav.NavigateTo(url, forceLoad: true);
	}

	private async void OnGameStateChanged(object? sender, StateChangeEventArgs e)
	{
		if (e.InstanceId != StateManager.InstanceId) return;
		if (e.ToPlayer != CurrentUser?.UserName) return;
		StateManager.Update(e.Json);
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		Relay.StateChanged -= OnGameStateChanged;
	}
}
